@media (min-width: 220px) and (max-width: 619px) {
    .navega{
        margin-right: 10px;
        padding-right: 50px;
    }
    .navbar-brand img{
        width: 90px;
        height: 33px;
    }
    .navbar-nav{
        flex-direction: row;

    }
    #btn_contact{
        font-size: 8px;
        padding: 0% 1%;
        width: 120%;
        height: 110%;
        text-align: center;
        padding-top: 5%;
    }
    #btn_saibaMais{
        font-size: 8px;
        padding: 5% 5%;
        margin: 0 10px;
        width: 75px;
        text-align: center;
    }
    .box{
        flex-direction: column-reverse;
        justify-content: space-around;
    }
    .logo img{
        align-items: center;
        width: 250px;
    }

    .boxinbox h2{
        font-size: 30px;
    }
    .boxinbox h3{
        font-size: 20px;
    }
    .boxinbox p{
        font-size: 14px;
    }
    .btn_solicitarOrca{
        padding: 10px;
        font-size: 12px;
    }

    .formaDeContato2{
        width: 150px;
        height: 40px;
        margin-left: 10px;
    }
    .formaDeContato2 p{
        font-family: "TitilliumWeb", sans-serif;
        font-size: 12px;
        margin-top: 22px;
    }
    #whats2{
        width: 15px;
        margin-right: 5px;
    }

    .formaDeContato{
        padding: 0 4px;
        padding-top: 10px;
        width: 50%;
    }
    .formaDeContato p{
        font-size: 22px;
    }

    .boxinbox{
        margin: 0;
        padding: 5%, 8%; 
    }

    .boxServicos {
        margin: auto;
        width: 85%;
    }
    .boxServicos p{
        font-size: 16px;
    }
    .boxContainer{
        flex-direction: column;
        align-items: center;
    }
    
    .servicos h4{
        font-size: 16px;
    }

    .sobre {
        width: 90%;
    }
    .sobre h2{
        font-size: 56px;
    }
    .sobre p{
        font-size: 16px;

    }
    #solicitar{
        font-size: 20px;
    }

    .boxContainer2{
        flex-direction: column;
        margin-top: 0;
        padding: 30% 0;
        padding-right: 1%;
    }

    .formulario h2{
        margin-top: 10%;
        font-size: 32px;
    }
    .formulario hr{
        width: 75%;
    }
}


@media (min-width: 620px) and (max-width: 991px) {
    .navega{
        margin-right: 20px;
    }

    .logo img{
        width: 200px;
    }
    .boxinbox h2{
        font-size: 30px;
    }
    .boxinbox h3{
        font-size: 20px;
    }
    .boxinbox p{
        font-size: 14px;
    }
    .btn_solicitarOrca{
        padding: 10px;
        font-size: 12px;
    }
    .boxinbox{
        margin: 0;
        padding: 5%, 2%; 
    }

    .formaDeContato2{
        width: 150px;
        height: 40px;
        margin-left: 10px;
    }
    .formaDeContato2 p{
        font-family: "TitilliumWeb", sans-serif;
        font-size: 12px;
        margin-top: 22px;
    }
    #whats2{
        width: 15px;
        margin-right: 5px;
    }

    .formaDeContato{
        padding: 0 4px;
        padding-top: 10px;
        width: 50%;
    }
    .formaDeContato p{
        font-size: 22px;
    }

    .boxServicos {
        margin: auto;
        width: 85%;
    }
    .boxServicos p{
        font-size: 16px;
    }
    .boxContainer{
        flex-direction: column;
        align-items: center;
    }
    .servicos h4{
        font-size: 16px;
    }

    #solicitar{
        font-size: 20px;
    }

    .sobre{
        width: 90%;
    }
    .boxContainer2{
        flex-direction: column;
        padding: 2vh 0;
        padding-right: 1%;
    }
    .boxContainer2 img{
        margin-left: 5%;
    }

    .formulario h2{
        font-size: 72px;
    }
    .formulario hr{
        width: 75%;
    }



}

@media (min-width: 992px) and (max-width:1500px){
    .logo img{
        width: 300px;
    }
    
    .boxinbox{
        padding-right: 8%;
    }

    .boxinbox h2{
        font-size: 80px;
    }
    .boxinbox h3{
        font-size: 30px;
    }
    .boxinbox p{
        font-size: 20px;
    }
    .btn_solicitarOrca{
        font-size: 18px;
    }
    .boxinbox h2{
        font-size: 30px;
    }
    .boxinbox h3{
        font-size: 20px;
    }
    .boxinbox p{
        font-size: 14px;
    }
    .btn_solicitarOrca{
        font-size: 12px;
    }

    .formaDeContato2{
        width: 150px;
        height: 40px;
        margin-left: 10px;
    }
    .formaDeContato2 p{
        font-family: "TitilliumWeb", sans-serif;
        font-size: 12px;
        margin-top: 22px;
    }
    #whats2{
        width: 15px;
        margin-right: 5px;
    }

    .formaDeContato{
        padding: 0 10px;
        padding-top: 10px;
        width: 35%;
    }

    .boxServicos {
        margin: auto;
        width: 85%;
    }
    .boxServicos p{
        font-size: 16px;
    }
    .servicos h4{
        font-size: 20px;
    }

    #solicitar{
        margin-top: 5%;
        font-size: 22px;
    }
    
    .sobre{
        width: 60%;
    }

    .boxContainer2{
        padding-top: 25%;
        padding-right: 1%;
    }
    .boxContainer2 img{
        border-radius: 25px;
        box-shadow: 0 0 12px black;
        z-index: 1;
        margin-left: 5%;
    }
    .boxContainer2 p{
        font-size: 20px;
    }

    .formulario h2{
        font-size: 72px;
    }
    .formulario hr{
        width: 75%;
    }
   
    #btnsubmit{
        font-size: 16px;
        height: 5vh;
        padding: 0;
        margin-right: 27%;
    }

}